<!DOCTYPE html>
<html>
  <head>
    <title>Project {{entity.name}}</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Project {{entity.name}}</h1>
      </div>
      <div>
Name: {{entity.name}}<br/>
State: {{entity.state}}<br/>
      </div>
      <div>
        <form method="post">
          {{ form.currency.label }}: {{ form.currency }}
          <span class="error">
          {% for error in form.currency.errors %}{{ error }} {% endfor %}
          </span><br/>
          {{ form.value.label }}: {{ form.value }}
          <span class="error">
          {% for error in form.value.errors %}{{ error }} {% endfor %}
          </span><br/>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>
